<chart class="chart" style="height: 100%;" data="statusArray"></chart>
<div class="container">
    <!-- Testing charts  -->
    <div class="row" ng-hide="true">
        <div class="col-sm-6">
            <h3> <span style="padding-right:3px; padding-bottom: 10px; display:inline-block;">
            <img src="/images/machine1.svg" style="height:40px"alt="">
        </span>TEST MACHINE I</h3>
            <h1>
        <span style="color:green" ng-if="machine1Status">ON</span>
        <span style="color:red" ng-if="!machine1Status">OFF</span>
        </h1>
            <canvas id="line" class="chart chart-line" chart-options="chartops1" chart-data="data1" chart-labels="labels1" chart-legend="false" chart-series="series1">
            </canvas>
        </div>
        <div class="col-sm-6">
            <h3> <span style="padding-right:3px; padding-bottom: 10px; display:inline-block;">
            <img src="/images/machine2.svg" style="height:40px"alt="">
        </span>TEST MACHINE II</h3>
            <h1>
        <span style="color:green" ng-if="machine2Status">ON</span>
        <span style="color:red" ng-if="!machine2Status">OFF</span>
        </h1>
            <canvas id="line" class="chart chart-line" chart-options="chartops2" chart-data="data2" chart-labels="labels2" chart-legend="false" chart-series="series2">
            </canvas>
        </div>
        <div class="row">
        </div>
    </div>
</div>
