<div data-ng-app="app">
	<div ui-view ng-controller="DataController"></div>
</div>


<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/bower/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/bower/angular-cookies/angular-cookies.min.js"></script>
<script src="/bower/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/bower/Chart.js/Chart.min.js"></script>
<script src="/bower/angular-chart.js/dist/angular-chart.js"></script>
<script src="/bower/d3/d3.min.js"></script>
<script src="/js/angular-app/app.js"></script>
<script src="/js/angular-app/chart.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/angular-app/service/SocketService.js"></script>
<script src="/js/angular-app/controller/DataController.js"></script>
<script src="/js/angular-app/route-config.js"></script>
<!-- <h1>{{title}}</h1> -->
<!-- <p>Welcome to {{title}}</p> -->
