<div data-ng-app="app">
	<div ui-view ng-controller="DataController"></div>
</div>


<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/bower/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/bower/angular-cookies/angular-cookies.min.js"></script>
<script src="/bower/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/bower/d3/d3.min.js"></script>
<script src="/bower/c3/c3.min.js"></script>
<script src="/bower/c3-angular/c3-angular.min.js"></script>
<script src="/js/angular-app/app.js"></script>
<script src="/js/angular-app/scatterchart.js"></script>
<script src="/js/angular-app/piechart.js"></script>
<script src="/js/angular-app/barchart.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/angular-app/service/SocketService.js"></script>
<script src="/js/angular-app/controller/DataController.js"></script>
<script src="/js/angular-app/route-config.js"></script>
