    scatterchart,
    barchart {
        display: block;
        z-index: 0;
        overflow: hidden;
        font-size: 10px;
    }
    
    piechart {
    	position: relative;
        margin: 0 auto;
        height: 130px;
        width: 130px;
        display: block;
        margin-top: 1em;
    }
    
    .axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}

